<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="at-form">

                <div class="title">
                    <h3>Sign Up</h3>
                </div>
                <div ng-show="rc.error">
                    {{ rc.error }}
                </div>

                <div class="oauth">

                    <button class="btn social-btn" name="google" ng-click="rc.loginOAuth()">
                        Sign Up with Google
                    </button>

                </div>


                <div class="at-sep">
                    <strong>OR</strong>
                </div>


                <div class="at-pwd-form">
                    <form name="registerForm" role="form" ng-submit="rc.register()" novalidate>
                        <fieldset>


                            <div
                                    ng-class="{ 'has-error' : (registerForm.email.$error.required || registerForm.email.$error.email) && !registerForm.email.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-email">
                                    Email
                                </label>
                                <input id="signup-email" ng-model="rc.credentials.email"
                                       type="email" class="form-control" name="email"
                                       placeholder="Email" autocapitalize="none" autocorrect="off" required>

                                <span ng-show="registerForm.email.$error.required && !registerForm.email.$pristine"
                                      class="help-block">Email is required.</span>

                                <span ng-show="registerForm.email.$error.email && !registerForm.email.$pristine"
                                      class="help-block">Provide correct email</span>
                            </div>


                            <div
                                    ng-class="{ 'has-error' : registerForm.password.$error.required && !registerForm.password.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-password">
                                    Password
                                </label>
                                <input id="signup-password" type="password" ng-model="rc.credentials.password"
                                       class="form-control" name="password"
                                       placeholder="Password" autocapitalize="none" autocorrect="off" required>

                                <span ng-show="registerForm.password.$error.required && !registerForm.password.$pristine"
                                      class="help-block">Password is required.</span>
                            </div>

                            <button type="submit" ng-disabled="registerForm.$invalid"
                                    class="at-btn submit btn btn-lg btn-block btn-default">
                                Create account
                            </button>
                        </fieldset>
                    </form>
                </div>


                <div>
                    <p>
                        Have an account?
                        <a ui-sref="app.login">Login</a>

                    </p>
                </div>


            </div>

        </div>
    </div>
</div>