<div class="container">

    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs" ng-if="group.image_url || group.image.url()">
            <img class="media-object img-thumbnail" ng-src="{{group.image_url || group.image.url()}}" alt="{{group.name}}">
        </div>
        <div class="col-md-10 col-xs-12"><h3>{{group.name}}</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default event-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10" aria-controls="collapseEvent">
                                <div class="col-sm-2 hidden-xs">
                                    <h4 class="panel-title">
                                        Next event
                                    </h4></div>
                                <div class="col-xs-7 col-sm-5">{{current_event.date | date}}</div>
                                <div class="col-xs-5 col-sm-5"
                                     ng-if="current_event.status !== 'ordered' && current_event.status !== 'delivering' || !isOwner(group)">
                                    {{current_event.status}}
                                </div>
                                <div class="col-xs-4" ng-if="current_event.status === 'ordered' && isOwner(group)">
                                    <select name="" class="form-control" ng-init="newEventStatus='ordered'"
                                            ng-model="newEventStatus" ng-change="eventStatusChange(newEventStatus)">
                                        <option value="ordered">Ordered</option>
                                        <option value="delivering">Delivering</option>
                                    </select>
                                </div>
                                <div class="col-xs-4" ng-if="current_event.status === 'delivering' && isOwner(group)">
                                    <select name="" class="form-control" ng-init="newEventStatus='delivering'"
                                            ng-model="newEventStatus" ng-change="eventStatusChange(newEventStatus)">
                                        <option value="delivering">Delivering</option>
                                        <option value="delivered">Delivered</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <button ng-if="isOwner(group)" class="btn btn-primary pull-right hidden-xs" type="button"
                                        data-toggle="modal"
                                        data-target="#addEventModal">Create Event
                                </button>
                                <span ng-if="isOwner(group)" class="glyphicon glyphicon-plus text-primary pull-right visible-xs" data-toggle="modal"
                                        data-target="#addEventModal"></span>
                            </div>
                        </div>
                    </div>
                </div><!-- event-panel end -->

                <div class="panel panel-default order-panel" ng-show="order">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#order" aria-expanded="false" aria-controls="collapseOrder">
                                <div class="col-xs-6">
                                    <h4 class="panel-title">
                                        Order
                                    </h4></div>
                                <div class="col-xs-6" title="Total order amount"><span
                                        class="pull-right">{{order.total}}</span></div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary pull-right hidden-xs" ng-if="orderIsCreated(order)"
                                        ng-click="confirmOrder(order)">Confirm
                                </button>
                                <span ng-if="orderIsCreated(order)" ng-click="confirmOrder(order)" class="glyphicon glyphicon-ok text-primary pull-right visible-xs"></span>
                            </div>
                        </div>
                    </div>
                    <div id="order" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="collapseOrder">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in order.items">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-4">{{item.name}}</div>
                                    <div class="col-xs-4 col-sm-1">
                                        <div ng-if="orderIsConfirmed(order)">{{item.count}}</div>
                                        <input class="form-control" type="number"
                                               ng-model-options="{ updateOn: 'blur' }" ng-if="orderIsCreated(order)"
                                               ng-model="item.count"
                                               ng-change="updateDishOrder(item, order)" title="Count to order">
                                    </div>
                                    <div class="hidden-xs col-sm-2">
                                        <span class="pull-right">
                                            <span class="full-price" ng-if="item.full_price">{{item.full_price}}/</span>
                                            {{item.price}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2 col-sm-3"><span class="pull-right">{{item.total}}</span></div>
                                    <div class="col-xs-2 col-sm-2" ng-if="orderIsCreated(order)"><span
                                            class="glyphicon glyphicon-remove-sign text-danger pull-right"
                                            ng-click="removeDishOrder(item, order)"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- order-panel end -->

                <div class="panel panel-default menu-panel">
                    <div class="panel-heading" id="headingMenu">
                        <div class="row">
                            <div class="col-xs-9 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#menu" aria-expanded="false" aria-controls="collapseMenu">
                                <h4 class="panel-title">
                                    Menu
                                </h4>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <select class="form-control" ng-model="dishOrd">
                                            <option value="name">Name</option>
                                            <option value="price">Price</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <button class="btn btn-primary pull-right" type="button" data-toggle="modal"
                                                data-target="#addDishModal">Add Dish
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="menu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMenu">
                        <ul class="media-list list-group">
                            <li ng-repeat="dish in dishes | orderBy : dishOrd" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-8">
                                        <h4>
                                            {{dish.name}}<span class="badge pull-right">{{dish.price | currency}}</span>
                                        </h4>
                                    </div>

                                    <div class="col-xs-6 col-sm-4">
                                        <div class="pull-right">
                                            <button class="btn btn-primary"
                                                    ng-if="current_event._id && !orderIsConfirmed(order)"
                                                    ng-click="orderDish(dish)">Order
                                            </button>
                                            <a class="btn btn-info" ng-click="openEditDish(dish)" ng-hide="dish.fixed">
                                                <span class="glyphicon glyphicon-edit visible-xs"></span><span
                                                    class="hidden-xs">Edit</span></a>
                                            <a class="btn btn-danger" ng-click="removeDish(dish)" ng-hide="dish.fixed">
                                                <span class="glyphicon glyphicon-remove visible-xs"></span><span
                                                    class="hidden-xs">Remove</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">{{dish.description}}</div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div><!-- menu-panel end -->

                <div ng-if="isOwner(group)" class="panel panel-default users-panel">
                    <div class="panel-heading cursor-pointer" role="tab" id="headingUsers" data-toggle="collapse"
                         data-parent="#accordion"
                         data-target="#users" aria-expanded="false" aria-controls="collapseUsers">
                        <h4 class="panel-title">
                            Users
                        </h4>
                    </div>
                    <div id="users" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingUsers">
                        <ul class="media-list list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10">
                                        <h4>{{group.owner | displayName}}</h4>
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="user in users" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10">
                                        <h4>{{user | displayName}}</h4>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <a class="btn btn-danger pull-right" title="remove" ng-click="removeUser(user)">Remove</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- users-panel end -->

                <div ng-if="isOwner(group)" class="panel panel-default coupons-panel">
                    <div class="panel-heading" role="tab" id="headingCoupons">
                        <div class="row">
                            <div class="col-xs-11" ng-class="{true:'cursor-pointer', false:''}[coupons.length > 0]"
                                 data-toggle="collapse" data-parent="#accordion"
                                 data-target="#coupons" aria-expanded="false" aria-controls="collapseCoupons">
                                <h4 class="panel-title">
                                    Coupons
                                </h4>
                            </div>
                            <div class="col-xs-1">
                                <button ng-show="coupon_dishes.length > 0" class="btn btn-primary pull-right"
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#addCouponModal">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="coupons.length > 0" id="coupons" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingCoupons">
                        <ul class="list-group">
                            <li ng-repeat="coupon in coupons" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">{{coupon.dish.name}}</div>
                                    <div class="col-xs-6 col-sm-4">
                                        <span class="pull-right">{{coupon.discount}}</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="pull-right">
                                            <a class="btn btn-danger pull-right"
                                               ng-click="removeCoupon(coupon)">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- coupons-panel end -->
            </div><!-- panel-group end -->
        </div><!-- col-xs-12 end -->
    </div><!-- row end -->

    <!--modals-->
    <!--This modal is here because of crop issues when moved to ng-include. Maybe some scope issues-->
    <div id="addDishModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Dish</h4>
                </div>
                <div class="modal-body">
                    <form name="addDishForm" ng-submit="addDish(newDish)" novalidate>
                        <div
                                ng-class="{ 'has-error' : addDishForm.addDishName.$error.required && !addDishForm.addDishName.$pristine }"
                                class="form-group">
                            <label for="addDishName" class="control-label">Dish name:</label>
                            <input type="text" class="form-control" name="addDishName" id="addDishName"
                                   ng-model="newDish.name" required>
                            <span ng-show="addDishForm.addDishName.$error.required && !addDishForm.addDishName.$pristine"
                                  class="help-block">Dish name is required.</span>
                        </div>
                        <div
                                ng-class="{ 'has-error' : (addDishForm.addDishPrice.$error.required || addDishForm.addDishPrice.$error.number || addDishForm.addDishPrice.$error.min) && !addDishForm.addDishPrice.$pristine }"
                                class="form-group">
                            <label for="addDishPrice" class="control-label">Dish price:</label>
                            <input type="number" class="form-control" name="addDishPrice" id="addDishPrice"
                                   ng-model="newDish.price" min="0.01" required>
                            <span ng-show="addDishForm.addDishPrice.$error.required && !addDishForm.addDishPrice.$pristine"
                                  class="help-block">Dish price is required.</span>
                            <span ng-show="addDishForm.addDishPrice.$error.number && !addDishForm.addDishPrice.$pristine"
                                  class="help-block">Dish price should be a number.</span>
                            <span ng-show="addDishForm.addDishPrice.$error.min && !addDishForm.addDishPrice.$pristine"
                                  class="help-block">Dish price should be greater than 0.01</span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary" ng-disabled="addDishForm.$invalid"
                                   value="Add Dish">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--addDishModal end-->
    <div ng-if="isOwner(group)" id="addEventModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Event</h4>
                </div>
                <div class="modal-body">
                    <form name="addEventForm" ng-submit="addEvent(newEvent)" novalidate>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4"><label for="addEventDate" class="control-label">Event
                                    date:</label></div>
                                <div class="col-xs-12 col-sm-8">
                                    <div
                                            ng-class="{ 'has-error' : addEventForm.addEventDate.$error.required && !addEventForm.addEventDate.$pristine }"
                                            class="input-group date" data-provide="datepicker"
                                            data-date-format="mm-dd-yyyy"
                                            data-date-start-date="{{datepickerStart | date:'MM-dd-yyyy'}}">
                                        <input type="text" disabled="disabled" name="addEventDate" id="addEventDate"
                                               class="form-control" ng-model="newEvent.date" required>
                                        <span ng-show="addEventForm.addEventDate.$error.required && !addEventForm.addEventDate.$pristine"
                                              class="help-block">Event date is required.</span>

                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary" ng-disabled="addEventForm.$invalid"
                                   value="Create Event">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- addEventModal end-->
    <div ng-if="isOwner(group)" id="addCouponModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New Coupon</h4>
                </div>
                <div class="modal-body">
                    <form name="addCouponForm" ng-submit="addCoupon(newCoupon)" novalidate>
                        <div
                                ng-class="{ 'has-error' : addCouponForm.addCouponSelect.$error.required && !addCouponForm.addCouponSelect.$pristine }"
                                class="form-group">
                            <label for="addCouponSelect" class="control-label">Select dish to add:</label>
                            <select class="form-control" name="addCouponSelect" id="addCouponSelect"
                                    ng-model="newCoupon.dish" required>
                                <option value="{{ cdish._id }}" ng-repeat="cdish in coupon_dishes">{{ cdish.name }}
                                </option>
                            </select>
                            <span ng-show="addCouponForm.addCouponSelect.$error.required && !addCouponForm.addCouponSelect.$pristine"
                                  class="help-block">Dish for coupon is required.</span>
                        </div>
                        <div
                                ng-class="{ 'has-error' : (addCouponForm.addCouponDiscount.$error.required || addCouponForm.addCouponDiscount.$error.min || addCouponForm.addCouponDiscount.$error.max || addCouponForm.addCouponDiscount.$error.integer) && !addCouponForm.addCouponDiscount.$pristine }"
                                class="form-group">
                            <label for="addCouponDiscount" class="control-label">Coupon
                                discount (percent):</label>
                            <input type="number" name="addCouponDiscount" class="form-control" id="addCouponDiscount"
                                   ng-model="newCoupon.discount" min="0" max="100" integer required>
                            <span ng-show="addCouponForm.addCouponDiscount.$error.required && !addCouponForm.addCouponDiscount.$pristine"
                                  class="help-block">Coupon discount is required.</span>
                            <span ng-show="addCouponForm.addCouponDiscount.$error.integer && !addCouponForm.addCouponDiscount.$pristine"
                                  class="help-block">Coupon discount should be a integer.</span>
                            <span ng-show="(addCouponForm.addCouponDiscount.$error.min || addCouponForm.addCouponDiscount.$error.max) && !addCouponForm.addCouponDiscount.$pristine"
                                  class="help-block">Coupon discount should be in range from 0 to 100.</span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary" ng-disabled="addCouponForm.$invalid"
                                   value="Add coupon">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- addCouponModal end-->
    <div ng-include src=" 'client/groups/group-detail/editModal.ng.html' "></div>
</div>


