<script type="text/ng-template" id="editPostModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Post</h4>
    </div>
    <div class="modal-body">
        <div ng-show="errorMsg">
            {{ errorMsg }}
        </div>
        <form name="editPostForm" ng-submit="editPost(post._id, editedPost)" novalidate>
            <div
                    ng-class="{'has-error': editPostForm.editPostDescriptionInput.$error.required && !editPostForm.editPostDescriptionInput.$pristine}"
                    class="form-group">
                <label for="editPostDescriptionInput" class="control-label">Post description:</label>
                <input type="text" class="form-control" name="editPostDescriptionInput"
                       id="editPostDescriptionInput"
                       ng-model="editedPost.description"
                       ng-init="editedPost.description=post.description" required>
                            <span ng-show="editPostForm.editPostDescriptionInput.$error.required && !editPostForm.editPostDescriptionInput.$pristine"
                                  class="help-block">Post description is required.</span>
            </div>
            <div class="form-group">
                <input type="file" ngf-select ng-model="editedPost.image" ng-init="editedPost.image=post.image" name="image"
                       accept="image/*" ngf-max-size="2MB" required
                       ngf-model-invalid="errorFile">
                <i ng-show="editPostForm.image.$error.required">Image is required</i><br>
                <i ng-show="editPostForm.image.$error.maxSize">File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                <img ng-show="editPostForm.image.$valid" ngf-thumbnail="editedPost.image" class="thumb">
                <button ng-click="editedPost.image = null" ng-show="editedPost.image">Remove</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close
                </button>
                <input type="submit" class="btn btn-primary" ng-disabled="editPostForm.$invalid" value="Edit post">
            </div>
        </form>
    </div>
</script>