<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav navbar-nav">
                    <a ui-sref="app">Home</a>
                    <a ui-sref="app.groups">Groups</a>
                    <a ui-sref="app.users">Users</a>
                    <a ui-sref="app.contactus">Contact</a>
                    <a class="btn btn-social-icon btn-linkedin"
                       href="https://www.linkedin.com/in/%D0%B2%D1%96%D1%82%D0%B0%D0%BB%D1%96%D0%B9-%D0%B3%D0%B0%D0%BB%D0%BA%D1%96%D0%BD-345a964a"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon" href="mailto:galkin.vitaly@gmail.com"><i
                            class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>