<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <ul class="media-list list-group">
                <li ng-repeat="post in post_list.results" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <!--<a class="remove-link-decoration" ui-sref="">-->
                            <a class="remove-link-decoration" href="#">
                                <div class="media">
                                    <div class="media-left media-middle"
                                         ng-if="post.image">

                                        <img class="media-object img-thumbnail"
                                             ng-src="{{post.image}}" alt="{{post.description}}">

                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading">{{post.name}}</h2>

                                        <p class="pull-right" title="Date of next event in this group">
                                            {{post.date |
                                            date:'MMM d, y'}}</p>

                                        <p title="Group owner's email">{{post.author}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </li>
            </ul>


        </div>

        <!--modals-->
        <div id="addGroupModal" class="modal" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                    </div>
                    <div class="modal-body">
                        <form name="addGroupForm" ng-submit="addGroup(newGroup)" novalidate>
                            <div
                                    ng-class="{'has-error': addGroupForm.addGroupNameInput.$error.required && !addGroupForm.addGroupNameInput.$pristine}"
                                    class="form-group">
                                <label for="addGroupNameInput" class="control-label">Group name:</label>
                                <input type="text" class="form-control" name="addGroupNameInput" id="addGroupNameInput"
                                       ng-model="newGroup.name" required>
                            <span ng-show="addGroupForm.addGroupNameInput.$error.required && !addGroupForm.addGroupNameInput.$pristine"
                                  class="help-block">Group name is required.</span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <p> Image goes here with crop or not</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" ng-disabled="addGroupForm.$invalid"
                                       value="Add Group">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>