<div class="container">
    <div class="row" ng-if="currentUser">
        <div class="col-xs-12">
            <button class="btn btn-default" type="button"
                    data-toggle="modal"
                    data-target="#addPostModal">Add post
            </button>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <ul class="media-list list-group">
                <li ng-repeat="post in post_list.results" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <!--<a class="remove-link-decoration" ui-sref="">-->
                            <a class="remove-link-decoration" href="#">
                                <div class="media">
                                    <div class="media-left media-middle"
                                         ng-if="post.image">

                                        <img class="media-object img-thumbnail"
                                             ng-src="{{post.image}}" alt="{{post.description}}">

                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading">{{post.name}}</h2>

                                        <p class="pull-right" title="Date of next event in this group">
                                            {{post.date |
                                            date:'MMM d, y'}}</p>

                                        <p title="Group owner's email">{{post.author}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-info" ng-click="openEditPost(post)">
                                <span class="glyphicon glyphicon-edit visible-xs"></span><span
                                    class="hidden-xs">Edit</span></a>
                        </div>
                    </div>

                </li>
            </ul>


        </div>

        <!--modals-->
        <div id="addPostModal" class="modal" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="errorMsg">
                            {{ errorMsg }}
                        </div>
                        <form name="addPostForm" ng-submit="addPost(post)" novalidate>
                            <div
                                    ng-class="{'has-error': addPostForm.addPostDescriptionInput.$error.required && !addPostForm.addPostDescriptionInput.$pristine}"
                                    class="form-group">
                                <label for="addPostDescriptionInput" class="control-label">Post description:</label>
                                <input type="text" class="form-control" name="addPostDescriptionInput"
                                       id="addPostDescriptionInput"
                                       ng-model="post.description" required>
                            <span ng-show="addPostForm.addPostDescriptionInput.$error.required && !addPostForm.addPostDescriptionInput.$pristine"
                                  class="help-block">Post description is required.</span>
                            </div>
                            <div class="form-group">
                                <input type="file" ngf-select ng-model="post.image" name="image"
                                       accept="image/*" ngf-max-size="2MB" required
                                       ngf-model-invalid="errorFile">
                                <i ng-show="addPostForm.image.$error.required">Image is required</i><br>
                                <i ng-show="addPostForm.image.$error.maxSize">File too large
                                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                <img ng-show="addPostForm.image.$valid" ngf-thumbnail="post.image" class="thumb">
                                <button ng-click="post.image = null" ng-show="post.image">Remove</button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" ng-disabled="addPostForm.$invalid"
                                       value="Add Post">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include src=" 'views/editModal.ng.html' "></div>

    </div>

</div>