<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="at-form">

                <div class="title">
                    <h3>Sign Up</h3>
                </div>
                <div ng-show="rc.error">
                    {{ rc.error }}
                </div>


                <div class="at-pwd-form">
                    <form name="registerForm" role="form" ng-submit="rc.register()" novalidate>
                        <fieldset>


                            <div
                                    ng-class="{ 'has-error' : registerForm.username.$error.required && !registerForm.username.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-username">
                                    Username
                                </label>
                                <input id="signup-username" ng-model="rc.credentials.username"
                                       type="text" class="form-control" name="username"
                                       placeholder="Username" autocapitalize="none" autocorrect="off" required>

                                <span ng-show="registerForm.username.$error.required && !registerForm.username.$pristine"
                                      class="help-block">Username is required.</span>
                            </div>

                            <div
                                    ng-class="{ 'has-error' : (registerForm.email.$error.required || registerForm.email.$error.email) && !registerForm.email.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-email">
                                    Email
                                </label>
                                <input id="signup-email" ng-model="rc.credentials.email"
                                       type="email" class="form-control" name="email"
                                       placeholder="Email" autocapitalize="none" autocorrect="off" required>

                                <span ng-show="registerForm.email.$error.required && !registerForm.email.$pristine"
                                      class="help-block">Email is required.</span>

                                <span ng-show="registerForm.email.$error.email && !registerForm.email.$pristine"
                                      class="help-block">Provide correct email</span>
                            </div>


                            <div
                                    ng-class="{ 'has-error' : registerForm.password1.$error.required && !registerForm.password1.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-password1">
                                    Password
                                </label>
                                <input id="signup-password1" type="password" ng-model="rc.credentials.password1"
                                       class="form-control" name="password1"
                                       placeholder="Password" autocapitalize="none" autocorrect="off" required>

                                <span ng-show="registerForm.password1.$error.required && !registerForm.password1.$pristine"
                                      class="help-block">Password is required.</span>
                            </div>
                            <div
                                    ng-class="{ 'has-error' : (registerForm.password2.$error.pwmatch || registerForm.password2.$error.required) && !registerForm.password2.$pristine }"
                                    class="at-input form-group has-feedback">
                                <label class="control-label" for="signup-password2">
                                    Password confirm
                                </label>
                                <input id="signup-password2" type="password" ng-model="rc.credentials.password2"
                                       class="form-control" name="password2"
                                       placeholder="Password confirm" autocapitalize="none" autocorrect="off"
                                       pw-check="signup-password1"
                                       required>
                                <span class="help-block" ng-show="registerForm.password2.$error.pwmatch && !registerForm.password2.$pristine && !registerForm.password1.$pristine">
                                    Passwords don't match.
                                  </span>
                                <span ng-show="registerForm.password2.$error.required && !registerForm.password2.$pristine"
                                      class="help-block">Password confirm is required.</span>
                            </div>

                            <button type="submit" ng-disabled="registerForm.$invalid"
                                    class="at-btn submit btn btn-lg btn-block btn-default">
                                Create account
                            </button>
                        </fieldset>
                    </form>
                </div>


                <div>
                    <p>
                        Have an account?
                        <a ui-sref="app.login">Login</a>

                    </p>
                </div>


            </div>

        </div>
    </div>
</div>